/* COMMONS */
ul{
    list-style: none;
}

.flexcontainer{
    display: flex;
}

/* SEZIONE TICKET */
.ticket{
    display: none;
}

.ticket.active{
    display: block;
}

ul li{
    padding: 0 2rem;
}